---
import catalog, { certificates, formats, genres, countries, pictures } from '../data.ts';
import Layout from '../layouts/Layout.astro';
import IndexPartial, { getMeta } from './index.partial.astro';

const {params, date} = getMeta(Astro.url);

const accept = Astro.url.searchParams.get('accept') || Astro.request.headers.get('accept');

if(accept?.includes('json')) {
	const data = catalog.query(params);
	return new Response(JSON.stringify(data, null, 2), {
		headers: { 'Content-type': 'application/json' }
	});
}

const sortByCols = ['title', 'certificate', 'duration', 'year'] as const;
---
<Layout>
	<script>
		import "@virtualstate/navigation/polyfill";

		(window as any).navigation.addEventListener("navigate", (event: any) => {
			const destUrl = new URL(event.destination.url);

			if(!event.canIntercept || (destUrl.pathname !== window.location.pathname)) {
				return;
			}

			if(event.originalEvent.type !== 'submit') {
				for(const el of document.forms[0].elements as any as HTMLInputElement[]) {
					switch(el.type) {
						case 'search':
						case 'select-one':
							el.value = (destUrl.searchParams.get(el.name) ?? '')
							break;
						case 'radio':
							if(!el.value && !destUrl.searchParams.has(el.name)) {
								el.checked = true;
							} else {
								el.checked = destUrl.searchParams.getAll(el.name).includes(el.value)
							}
							break;
					}
				}
			}

			event.intercept({
				async handler(){
					try {
						const res = await fetch('index.partial' + destUrl.search);
						const tbody = document.querySelector(`[aria-live=polite]`)!;
						tbody.innerHTML = await res.text();
					} catch(e) {
						console.error(e);
						window.location.href = destUrl.href;
					}
				}
			})
		});
	</script>
	<style lang='scss'>
		@use '../utils.scss' as theme;
		.main {
			margin: 20px;
		}

		.show-grid {
			margin: 1em;

			@include theme.flex-grid(':global(*)');
		}

		label {
			padding: 0.2em;
		}

		form {
			background: white;
			position: sticky;
			top: 0;
			padding: 0 0 10px;
		}
	</style>

	<div class=main>
		<h1>BFI Distribution Catalogue</h1>
		{ date && <>
			Last updated: <time datetime={date}>
				{new Intl.DateTimeFormat('en-GB', { dateStyle: 'long' }).format(new Date(date))}
			</time><br />
		</>
		}
		<search></search>
		<form>
			<input type=search name=q value={params.search?.term}>
			<button>Search</button>

			<label>
				<input type='radio' name=where value='title' checked={params.search?.field==='title'}>
				In Title
			</label>
			<label>
				<input type='radio' name=where value='' checked={!params.search?.field}>
				In Synopsis
			</label>
			<label>
				<input type='radio' name=where value='people' checked={params.search?.field==='people'}>
				In Cast & Director
			</label>

			<a href={Astro.url.pathname} rel="index">Clear</a>
			
			<details>
				<summary>Advanced</summary>


			<fieldset>
				<legend>Sort</legend>
			<label>Field
				<select name=sort>
					<option value="">None</option>
					{sortByCols.map(col =>
						<option value={col} selected={col===params.search?.term}>{col}</option>
					)}
				</select>
			</label>

			<label>Order
				<select name=sortDesc>
					<option value=''>Ascending</option>
					<option value='desc' selected={!!params.sort?.desc}>Descending</option>
				</select>
			</label>
			</fieldset>

			<fieldset>
				<legend>Filter</legend>
			<label>Certificate
				<select name=certificate>
					<option value="">Any</option>
					{certificates.map(v =>
						<option value={v} selected={v===params.filter?.certificate}>{v}</option>
					)}
				</select>
			</label>


			<label>Format
				<select name=format>
					<option value="">Any</option>
					{formats.map(v =>
						<option value={v} selected={v===params.filter?.format}>{v}</option>
					)}
				</select>
			</label>


			<label>Genre
				<select name=genre>
					<option value="">Any</option>
					{genres.map(v =>
						<option value={v} selected={v===params.filter?.genre}>{v}</option>
					)}
				</select>
			</label>

			<label>Country
				<select name=country>
					<option value="">Any</option>
					{countries.map(v =>
						<option value={v} selected={v===params.filter?.country}>{v}</option>
					)}
				</select>
			</label>

			<label>Picture Type
				<select name=picture>
					<option value="">Any</option>
					{pictures.map(v =>
						<option value={v} selected={v===params.filter?.picture}>{v}</option>
					)}
				</select>
			</label>
		</details>
		</fieldset>
		</form>
	</search>
		<script>
			function debounce<F extends (...args: any)=>any>(t: number, f: F){
				let timerId: number;

				return (...args: Parameters<F>) => {
					clearTimeout(timerId);
					timerId = setTimeout(f.bind(null, ...args), t);
				}
			}
			const f = document.querySelector('form')!;
			
			f.addEventListener('change', (e) => {
				f.requestSubmit();
			});

			const s = document.querySelector('[type=search]')!;

			s.addEventListener('input', debounce(500, () => f.requestSubmit()));
		</script>
		<div aria-live="polite">
			<IndexPartial {...params} />
		</div>
	</div>
</Layout>
